
*{
  padding: 0;
  margin:0;
}

ul, li{
  list-style: none;
}

a{
  color: inherit;
  text-decoration: none;
}

.wrap {
  width:1170px;
  margin:0 auto;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

h1,h3 {
  text-align: center;
}

@media all and (max-width: 992px){
  .wrap {
      width: 80%;
  }

  .content {
    width:70%;
  }
}

.clear:after{
  display:block;
  clear:both;
  content:'';
}

.MainImg{
  width:100%;
}

.rel {
  position: relative;
}

.micon{
	font-family: 'icomoon';
	display: inline-block;
	font-size: 30px;
	width: 50px;
	height: 50px;
	padding: 13px 0;
	text-align: center;
	color: #333;
}

.right{
  text-align: left;
}

.right h3{
  text-align: left;
}

.left{
  text-align:right;
}

.left h3{
  text-align:right;
}